<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>this is the user dashboard</h3>
    <a href="/trips/new">Add Trip</a>
    <button type="button" name="google" onclick="location.href = '/logout';">Logout</button>
  </body>
</html>
