<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/login">login</a><br>
    <a href="/signup">signup</a><br>
    <button type="button" name="google" onclick="location.href = '/auth/google';">Connect with Google</button>
  </body>
</html>
