<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- font for headers font-family: 'Fjalla One', sans-serif; -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Mukta+Vaani" rel="stylesheet">    <!-- font for text  font-family: 'Mukta Vaani', sans-serif;-->
    <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <title></title>
  </head>
  <body id="boday">
    <section id="ourBanner">
      <div id="makeTransparent">
        <div id="bannerText">
          <h1>Welcome to BounceAround</h1>
        </div>
        <div id="bottomButt">
          <a href="#frontButt"><span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
      </div>
      </div>
        <div id="container" class="pictures">
          <div style="display: inline-block;">
            <img src="stylesheets/images/pic1.jpeg" alt="" class="pics"/>
          </div>
          <div>
            <img src="stylesheets/images/pic2.jpeg" alt="" class="pics"/>
          </div>
          <div>
            <img src="stylesheets/images/pic3.jpeg" alt="" class="pics"/>
          </div>
          <div>
            <img src="stylesheets/images/pic4.jpeg" alt="" class="pics"/>
          </div>
          <div>
            <img src="stylesheets/images/pic5.jpeg" alt="" class="pics"/>
          </div>
          <div>
            <img src="stylesheets/images/pic6.jpeg" alt="" class="pics"/>
          </div>
          <div>
            <img src="stylesheets/images/pic7.jpeg" alt="" class="pics"/>
          </div>
          <div>
            <img src="stylesheets/images/pic8.jpeg" alt="" class="pics"/>
          </div>
      </div>
    </section>
    <div class="container" id="frontButt">
      <div class="col-sm-4">
        <div class="row">
          <div id="hackey">
            <h3>BounceAround is all about maximizing the time you have for travel.</h3>
            <p>
              <strong>BounceAround</strong> is an online travel app that is designed to help you create and customize your travel itinerary based on your interests. Simply put in your dates and your interests and the app will give you a list of activities to choose from. Because the app is so flexible you can easily adjust your itinerary and add or delete activities from your schedule so that you can make the most of your travel time. You can adjust your plans on the go and update your plans easily. All while staying organized because you can find everything in one place.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div id="hackey2">

        </div>
      </div>
      <div class="col-sm-6">
          <div id="loginButts">
            <div class="row">
              <button onclick="location.href = '/login';" class="signup"><span>Login</span></button>
            </div>
              <div class="row">
                <button onclick="location.href = '/signup';" class="signup"><span>Sign Up</span></button>
              </div>
          </div>
        <div class="row" id="googBut">
          <button type="button" name="google" onclick="location.href = '/auth/google';" ><img src="stylesheets/googleplus.png"/> Connect with Google</button>
        </div>
      </div>
    </div>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
      <script src="javascripts/script.js"></script>
  </body>
</html>
