<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- font for headers font-family: 'Fjalla One', sans-serif; -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Mukta+Vaani" rel="stylesheet">    <!-- font for text  font-family: 'Mukta Vaani', sans-serif;-->
    <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/dash.css" />
    <title></title>
  </head>
  <body>
    <div id="menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand" href="/">BounceAround</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
          <ul class="nav navbar-nav navbar-left">
              <li><a href="/dashboard">Dashboard</a>
              </li>
              <li><a href="/trips/new">New Trip</a>
              </li>
              <li><a href="/logout">Logout</a>
              </li>
          </ul>
      </div>
  </div>
</div>
    <script src="" charset="utf-8"></script>
    <footer id="footer">
      <span>A Fantastic Site By Adriana, Devin, Max and Sarah</span>
    </footer>
  </body>
</html>
