
/*right column*/
.needBackground {
  background: #3C454E;
}
.scheduleBorder {
  padding-top: 4em;
  background: #3C454E;
  height: 15vh;
}
.deleteButton {
  padding-top: 1em;
  background: #3C454E;
  height: 10vh;
  min-width: 100px;
}
.form {
  background: #3C454E;
}
.scheduleViewEdit {
  padding-top: 0;
  height: 67.7vh;
  width: 100%;
}
div.calDay {
  background: white;
  display: inline-block;
  height: 64vh;
  overflow-y: scroll;
  background: #3C454E;
}
div.deleteTrip {
  height: 20vh;
  width: 10%;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
}



div.col-md-3 {
  padding-right:0px;
  padding-left:0px;
  margin-left: 0;
  margin-right: 0;
  color: #3C454E;
}
div.col-md-6 {
  padding-right:0px;
  padding-left:0px;
  margin-left: 0;
  margin-right: 0;
}
p.schedule {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 1.2em;
  color: #3C454E;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  color: #3C454E;
}
p {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 1.2em;
  color: white;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}
.row {
  background: #3C454E;
  height: 90.7vh;
}
div.form-group {
  margin: .1em;
}
.filtersHeader {
  font-family: 'Mukta Vaani', sans-serif !important;
  font-size: 1.2em;
  padding-bottom: .1em;
}
.search_icon {
  margin: 1em;
  display: inline-block;
}
.search_icon:first-child {
  margin-left: .2em;
  display: inline-block;
  cursor: pointer;
}
.deleteTrip {
  margin-left: .2em;
  display: inline-block;
  cursor: pointer;
}

input.deleteInp{
 margin-left: 2em;
 display: flex;
 border-radius: 5px;
 min-width: 10vw;
 height: 4vh;
 font-size: 1.4em;
 text-align: center;
 margin-top: 2vh;
 border: none;
 background-color: rgb(255, 218, 0);
 font-family: 'Mukta Vaani', sans-serif !important;
}
input.deleteInp:hover{
 background-color: #3d60d1;
}
.mapFrame{
  border: solid #3C454E;
  border-width: 40px;
  border-bottom: none;
}
