@media only screen and (max-width: 992px) {
  #buttHead{
    margin-left: 0% !important;
  }
}
#buttHead{
  margin-left: -7%;
}
body{
  background-color: #3C454E;

}
h1, h2, h3, h4, h5, h6{
  font-family: 'Mukta Vaani', sans-serif !important;
}
.well{
  background: #737C85;
  color: #15222D;
  margin-top: 5vh;
}
.schedule a{
  text-decoration: none;
  color: #d1ae3d;
  font-size: 1.3em;
}
.schedule a:hover{
  color: white;
  font-size: 1.53em;
}
.schedule p{
  font-size: 1.1em;
  color: black;
}

.schedule .titlegf{
  font-size: 1.4em;
  color: black;
}

#all ul{
  list-style-type: none;
}
#all ul li a{
  text-decoration: none;
  color: #d1ae3d;
  font-size: 1.3em;
}
.add{
  color: white;
}
.panel a{
  color white
}
div.panel.show p{
  font-size: 1.2em;
}
#all ul li a:hover{
  color: white;
  font-size: 1.53em;
}
.schedule{
  height: 61.5vh;
  overflow-y: scroll;
}
