.filters{
  width: 100%;
  height: 100%;
  background-color: #3C454E;
  color: white;
  position: relative;
  padding: 1.3vw;
}

.form-group {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 25px;
    margin-left: 25px;
}

#locationField, #searchfield {
  width: 100%;
  height: 25px;
  display: block;
  margin-bottom: 20px;
  color: black;
}

.search_icon{
  width: 30px;
  display: inline-block;
  cursor: pointer;
}

.addtocalendar{
  background-color: #3C454E;
  width: 100%;
  height: 100%;
  padding: 1em;
  color: white;
}

.close_form{
  float: right;
  display: block;
  cursor: pointer;
}

.map_box{
  width: 100%;
  height: 82vh;
  display:inline-block;
}
#map {
  height: 100%;
  margin-left: 0;
}
#listing{
  display: none;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#iw-url{
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
  padding-right: 4px;
}
#iw-website-coords, #iw-website-type{
  display: none;
}
.schedule{
  width: 100%;
  height: 65vh;
  padding: 20px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.activities a{
  cursor: pointer;
  text-decoration: none;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    margin: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
div.panel.show {
    opacity: 1;
    max-height: 500px;
}

.act_edit{
  display: block;
}
.act_name, .act_delete{
  display: inline-block;
}
.act_name{
  cursor: pointer;
  width: 90%;
}

.act_name:hover{
  text-decoration: underline;
}
.act_delete{
  float: right;
  cursor: pointer;
  width: 10%;
}

.act_dates{
  display: block;
}

.act_date{
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
