
#container {
  position: absolute;
  z-index: -1;
  margin-top: -22px;
}

#makeTransparent {
  margin-top: -22px;
  background-color: black;
  height: 92vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, .75);
  z-index: 0;
}

img {
  height: 92vh;
  width: 100vw;
}

main {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 92vh;
  margin-top: -22px;
}

.form-position {
  width: 70vh;
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 15vh;
  text-align: center;
  font-family: 'Mukta Vaani', sans-serif;
  color: #FFDA00;
}

h1 {
  font-size: 5vw;
  margin-bottom: 2vw;
}

button {
  background-color: #FFDA00;
  color: black;
  margin-top: 2vw;
}
