@media only screen and (max-width: 600px) {
  #bannerText h1{
    font-size: 32px !important;
  }
  .icons{
    display: none;
  }
  .search_icon{
    display: none !important;
  }
}
@media only screen and (max-width: 1000px) {
  #bannerText h1{
    font-size: 32px !important;
  }
  .icons{
    display: none;
  }
  .search_icon{
    display: none !important;
  }
  button.signup{
    width: 55vw !important;
  }
  #messMeUp{
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
#hackey{
  background-color: #d3d3d3;
  padding: 5% 10% 5% 10%;
  margin-top: 8vh;
  margin-right: 0vw;
  color: #3C454E;
}
#hackey h3, #messMeUp h3{
  color: black;
}
.icono{
  display: inline-block;
  padding: 1vh 2.5vw 0vh 0vw;
}
#icono1{
  padding: 1vh 2.5vw 0vh 2vw;
}
#messMeUp{
  background-color: #d3d3d3;
  padding: 5% 10% 5% 10%;
  margin-top: 8vh;
  align-content: center;
  margin-left: 10vw;
  margin-right: auto;
  width: 100%;
}
#loginButts{
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#messMeUp button{
  margin-left: auto;
  margin-right: auto;
}
i{
  margin-top: 4vh;
  margin-right: 4vh;
  color: black;
}
.icons{
  width: 100%;
  margin-left: 5.8vw;
  margin-right: auto;
}

#googBut button{
  width: 15vw;
  color: black;
  margin-top: 3vh;
  background-color: white;

}
#googBut button img{
  height: 90%;
  width: 25%;
  vertical-align: middle;
}
