h1, h2, h3, h4, h5, h6{
  font-family: 'Mukta Vaani', sans-serif !important;
}
#custom-bootstrap-menu, footer, body{
  font-family: 'Mukta Vaani', sans-serif;
}
#custom-bootstrap-menu{
  height: 7vh;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(248, 248, 248, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 218, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(209, 174, 61, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #d1ae3d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #d1ae3d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #d1ae3d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #d3d3d3;
}
#frontButt{
  margin-left: 4vw;
  display: block;
}

label {
  display: inline-block;
  width: 5em;
}
/****************
buton styles
****************/
 button.signup{
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: 15vw;
  height: 8vh;
  font-size: 1.4em;
  text-align: center;
  margin-top: 2vh;
  color: white;
  border: none;
  background-color: rgb(255, 218, 0);
  padding: auto;
}
button.signup span{
  margin-left: auto;
  margin-right: auto;
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
div.panel.show {
    opacity: 1;
    max-height: 500px;
}
 .signup:hover{
  background-color: #3d60d1;
}
#googBut button{
  width: 15vw;
}
#googBut{
  margin-top: 3vh;
  margin-left: 5vw;
}
#googBut button img{
  height: 90%;
  width: 25%;
  vertical-align: middle;

}

#ourBanner{
  width: 100vw;
  height: 93vh;
  font-family: 'Fjalla One', sans-serif;
  color: #FFDA00;
  margin-top: -1.3%;
}
#makeTransparent{
  width: 100vw;
  height: 93vh;
  background-color: rgba(0, 0, 0, .75);
  position: absolute;
  z-index: 0;

}
#bottomButt{
  width: 100vw;
  height: 93vh;
  position: absolute;
  z-index: 10;
  text-align: center;
  margin-top: -3%;
}
#bottomButt a{
  text-decoration: none;
}
#bottomButt a span{
  color: #FFDA00;
  font-size: 2.8em;
}
#bannerText{
  display: table;
  width: 100vw;
  height: 93vh;
  line-height: normal;
}
#bannerText h1{
  font-size: 6em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#container {
  margin: 0 auto;
  text-align: center;
  position: absolute;;
  width: 100vw;
  height: inherit;
  z-index: -1;
}
#container div {
  width: 100vw;
  height: inherit;
  display: inline-block;
  display: none;
}
.pics{
  width: 100%;
  height: 100%;
}
/****************
new trip form
****************/

.form-group {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 25px;
    margin-left: 25px;
}
div.new-trip {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50vw;
    /*margin-right: 30%;
    margin-left: 30%;*/
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  margin-left: 0;
}
table {
  font-size: 12px;
}

#map {
  width: 100%;
}

#findhotels {
  position: absolute;
  text-align: right;
  width: 100px;
  font-size: 14px;
  padding: 4px;
  z-index: 5;
}
#locationField, #searchfield {
  width: 80%;
  height: 25px;
  display: block;
  margin-bottom: 20px;
}
#controls {
  position: absolute;
  left: 300px;
  width: 140px;
  top: 0px;
  z-index: 5;
  background-color: #fff;
}

#country {
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.imgPop {
  width: 55px;
  height: 55px;
  border-radius: 100%;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

#iw-url{
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}

#listing{
  display: none;
}

.filters{
  width: 100%;
  height: 100%;
  background-color: red;
  position: relative;
  padding: 30px;
}

h5{
  display: block;
}

.addtocalendar{
  background-color: blue;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
}
#addToCal{
  position: relative;
  top: -50px;
  float: right;
}
#iw-website-coords, #iw-website-type{
  display: none;
}

.search_icon{
  width: 30px;
  display: inline-block;
  cursor: pointer;
}

.map_box{
  width: 100%;
  height: 400px;
  display:inline-block;
}

.map_dashboard{
  width: 100%;
  height: 70%;

}
.schedule{
  width: 100%;
  height: 65vh;
  padding: 20px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.act_edit{
  display: block;
}
.act_name, .act_delete{
  display: inline-block;
}
.act_delete{
  float: right;
  cursor: pointer;
  width: 10%;
}

.act_name{
  cursor: pointer;
  width: 90%;
}

.act_name:hover{
  text-decoration: underline;
}

.close_form{
  float: right;
  display: block;
  cursor: pointer;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
#hackey2{
  width: 16.666667%;
}
#loginButts{
  display: inline-block;
  margin-left: 6vw;
}
#signupForm{
  display: flex;
  flex-direction: column;
}
#signupForm input{
  width: 25vw;
  height: 7vh;
  margin-bottom: 4vh;
  margin-left: 2vw;
}
#signBut{
  border: 1px solid black;
  border-radius: 5px;
  width: 15vw;
  height: 8vh;
  font-size: 1.4em;
  text-align: center;
  margin-top: 2vh;
  color: white;
  border: none;
  background-color: rgb(255, 218, 0);
  padding: auto;
}

.activities a{
  cursor: pointer;
  text-decoration: none;
}

button.accordion {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
background-color: #ddd;
}

button.accordion:after {
content: '\02795';
font-size: 13px;
color: #777;
float: right;
margin-left: 5px;
}

button.accordion.active:after {
content: "\2796";
}

div.panel {
padding: 0 18px;
margin: 0;
background-color: white;
max-height: 0;
overflow: hidden;
transition: 0.6s ease-in-out;
opacity: 0;
}

div.panel.show {
opacity: 1;
max-height: 500px;
}

.act_dates{
  display: block;
}

.act_date{
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
