<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>this is the New Trip Page</h3>
    <form action="/trips/new" method="post">
      <input type="text" name="city" value="New Orleans">
      <input type="date" name="start_date" value="2016-10-29">
      <input type="date" name="end_date" value="2016-11-03">
      <input type="submit" value="add trip">
    </form>
    <button type="button" name="google" onclick="location.href = '/logout';">Logout</button>
  </body>
</html>
